/* geral */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* file main */
#titulo {
    color: rgb(119, 170, 68);
}

#principal {
    color: cadetblue;
}

.content {
    color: cornflowerblue;
}

/* file cores */
#quote {
    color: rgba(0, 153, 255, .8);
}

.main {
    background-color: #a3be8c;
    color: #fff;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

.img{
    width: 400px;
    height: 400px;
    background-image: url('vitaly-otinov-unsplash.jpg');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

/* file medidas-absolutas */
#cm {
    background-color: #88c0d0;
    width: 1cm;
    height: 1cm;
    margin-bottom: 7px;
}

#mm {
    background-color: #81a1c1;
    width: 5mm;
    height: 5mm;
    margin-bottom: 7px;
}

#in {
    background-color: #00ccff;
    width: 1in;
    height: 1in;
    margin-bottom: 7px;
}

#px {
    background-color: #00ccaa;
    width: 10px;
    height: 10px;
    margin-bottom: 7px;
}

#pt {
    background-color: #79ccaa;
    width: 10pt;
    height: 10pt;
    margin-bottom: 7px;
}

#pc {
    background-color: #fab005;
    width: 10pc;
    height: 10pc;
    margin-bottom: 7px;
}

/* file medidas-relativas */
.container {
    /* width: 50vw; */
    /* width: 50vh; */
    /* width: 50vmin; */
    width: 50vmax;
    background-color: #88c0d0;
    font-size: 20px;
}

.inside {
    width: 100%;
    background-color: #999;
    font-size: 1rem;
}


/* file margin-padding */
#base {
    height: 10px;
    background-color: #a9e34b;
    margin: 5px;
}

#container {
    background-color: #adb5bd;
    color: #fff;
    padding: 5px;
}

/* file border */
.border {
    border-width: 2px;
    /* border-style: solid; */
    /* border-top-color: #66cd00; */
    border-color: #66cd00;
    border-radius: 5px;
    margin-bottom: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.solid {
    border-style: solid;
}

.none {
    border-style: none;
}

.hidden {
    border-style: hidden;
}

/* file box-model */
.hometown {
    background-color: #7fffd4;
    padding: 10px;
    border: 5px solid #fab005;
    margin: 10px;
}

.intro {
    background-color: #ddd;
    outline: 5px solid #00ccff;
    padding: 5px;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(75, 156, 129);
    margin: 5px;
    border: 10px solid #1a1b1b;
    box-sizing: border-box;
}

/* file ajustes-texto */
p {
    color: #008080;
    text-align: justify;
    /* text-transform: capitalize; */
    text-indent: 35px;
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* letter-spacing: 1.2px; */
    /* line-height: 3; */
    /* word-spacing: 5px; */
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px pink;
}

/* file fontes */
.fontes {
    text-shadow: none;
    color: rgb(10, 9, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-style: italic; */
    font-size: 1em;
    /* font-weight: bold; */
    font-variant: small-caps;
}